/* Body and HTML styles */
html, body {
    margin: 0;
    padding: 0;
}

/* Flexbox styles */
.flex-container {
    display: flex;
    flex-direction: row; /* Assuming you want a horizontal layout */
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Adjust as needed */
    gap: 10px; /* Gap between grid items */
}

.flex-c1 {
    border: 1px solid #ccc; /* Example border */
    padding: 20px; /* Example padding */
    width: 20%; /* Adjust as needed */
    text-align: center; /* Adjust as needed */
    height: 100vh;
    font-size: 69px;
    background-color: red;
}
.flex-c1 a {
    color:white;
}
.flex-c2 {
    border: 1px solid #ccc; /* Example border */
    padding: 20px; /* Example padding */
    width: 60%; /* Adjust as needed */
    text-align: center; /* Adjust as needed */
    height: 100vh;
    font-size: 69px;
    background-color: green;
    color:white;
}
.flex-c3 {
    border: 1px solid #ccc; /* Example border */
    padding: 20px; /* Example padding */
    width: 20%; /* Adjust as needed */
    text-align: center; /* Adjust as needed */
    height: 100vh;
    font-size: 69px;
    background-color: blue;
    color: white;
}
