body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100vw; /* Set the width to 100% of the viewport width */
    background-color: rgb(0, 0, 0);
}

/* Flexbox styles */
.flex-container {
    display: flex;
    flex-direction: column; /* Vertical layout */
    height: calc(100% - 20px); /* Make the container take up the full viewport height */
    width: 100%; /* Make the container take up the full viewport width */
    padding: 10px 0 10px 0;
}

.flex-r1 {
    flex-basis:  calc(20% - 10px); /* Take up 20% of the container height */
    text-align: center;
    width: calc(100% - 20px);
    height: 100%; /* Make the container take up the full viewport height */
    font-size: 69px;
    background-color: red;
    margin:0 10px 0 10px;
}

.flex-r1 a {
    color: white;
}

.flex-r3 {
    flex-basis:  calc(20% - 10px); /* Take up 20% of the container height */
    text-align: center;
    width: calc(100% - 20px);
    height: 100%; /* Make the container take up the full viewport height */
    font-size: 69px;
    background-color: blue;
    color: white;
    margin:0 10px 0px 10px;
    padding-bottom: 20px;
}

.flex-r2 {
    display:flex;
    flex-direction: row;
    flex-basis:  calc(60% - 20px); /* Take up 60% of the container height */
    text-align: center;
    width: calc(100% - 20px);
    height: 100%; /* Make the container take up the full viewport height */
    font-size: 69px;
    background-color: green;
    color: white;
    margin:10px
}

.flex-c1 {
    flex-basis:  calc(20% - 5px); /* Take up 20% of the container width */
    text-align: center;
    height: calc(100% - 20px);
    width: 100%; /* Make the container take up the full viewport width */
    font-size: 69px;
    background-color: red;
    margin:10px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.flex-c1 a {
    color: white;
}

.flex-c2 {
    flex-basis:  calc(60% - 10px); /* Take up 60% of the container width */
    text-align: center;
    height: calc(100% - 20px);
    width: 100%; /* Make the container take up the full viewport width */
    font-size: 69px;
    background-color: blue;
    color: white;
    margin:10px;
    display: flex;
    flex-direction: column;

}

.flex-c3 {
    flex-basis:  calc(20% - 5px); /* Take up 20% of the container width */
    text-align: center;
    height: calc(100% - 20px);
    width: 100%; /* Make the container take up the full viewport width */
    font-size: 69px;
    background-color: rgb(255, 0, 0);
    color: white;
    margin:10px 0px 10px 0;
    display: flex;
    flex-direction: column;

}

.flex-item11, .flex-item21, .flex-item31,.flex-item12, .flex-item22, .flex-item32,.flex-item13, .flex-item23, .flex-item33 {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 5px;
    border-radius: 50px;
    flex-basis:  20%;
}
.flex-item11{
    background-color: blue;
}

.flex-item21{
    background-color: oldlace;
    color: black;
}

.flex-item31{
    background-color: red;
}

.flex-item12{
    background-color:white;
    color: black;
}

.flex-item22{
    background-color: yellow;
    color: black;
}

.flex-item32{
    background-color: purple;
}

.flex-item13{
    background-color: blue;
}

.flex-item23{
    background-color: orange;
}

.flex-item33{
    background-color: silver;
    color: black
}