body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the width to 100% of the viewport width */
    width: 100vw; /* Set the width to 100% of the viewport width */
    background-color: rgb(0, 0, 0);
}

/* Flexbox styles */
.flex-container {
    display: flex;
    flex-direction: row; /* Vertical layout */
    height: 100%; /* Make the container take up the full viewport width */
    width: 100%; /* Make the container take up the full viewport width */
    padding: 0 10px 0 10px;
}

.flex-c1 {
    flex-basis:  calc(20% - 5px); /* Take up 20% of the container width */
    text-align: center;
    height: calc(100% - 20px);
    width: 100%; /* Make the container take up the full viewport width */
    font-size: 69px;
    background-color: red;
    margin:10px 0 10px 0;
}

.flex-c1 a {
    color: white;
}

.flex-c2 {
    flex-basis:  calc(60% - 10px); /* Take up 60% of the container width */
    text-align: center;
    height: calc(100% - 20px);
    width: 100%; /* Make the container take up the full viewport width */
    font-size: 69px;
    background-color: rgb(41, 13, 142);
    color: white;
    margin:10px
}
.flex-c2 p {
font-size: 30px;
text-align: left;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:lightblue;
}
.flex-c3 {
    flex-basis:  calc(20% - 5px); /* Take up 20% of the container width */
    text-align: center;
    height: calc(100% - 20px);
    width: 100%; /* Make the container take up the full viewport width */
    font-size: 69px;
    background-color: blue;
    color: white;
    margin:10px 0px 10px 0;
}